@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to SaveMyFridge</h1>

A new and innovative way to keep track of your groceries and reduce food waste. By searching for recipes with the ingredients you have, you can make sure you use everything before it goes bad.